<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>암기카드</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class=".container-fluid">
		<div class="memorycard-word col-6 mx-auto d-none" th:each="word : ${card.words}">
			<span th:text="${wordStat.index + 1}"></span>/<span th:text="${#lists.size(card.words)}"></span>
			<div class="card text-center my-3" style="height:200px">
			  <div class="word-word card-body d-block" th:text="${word.word}" onclick="toggleWord(this)">
			  </div>
			  <div class="word-meaning card-body d-none" th:text="${word.meaning}" onclick="toggleWord(this)">
			  </div>
			</div>
			<div class="d-flex justify-content-between">
				  <button class="btn btn-outline-success btn-lg" th:onclick="|javascript:nextWord(Number.parseInt('${wordStat.index}'), true)|">암기</button>
				  <button class="btn btn-outline-secondary btn-lg" th:onclick="|javascript:nextWord(Number.parseInt('${wordStat.index}'), false)|">미암기</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
$(document).ready(function() {
	$(".memorycard-word:first").addClass("d-block");
	$(".memorycard-word:first").removeClass("d-none");
})
;

function nextWord(index, memorized) {
	$(".memorycard-word:eq(" + index + ")").addClass("d-none");
	$(".memorycard-word:eq(" + (index + 1) + ")").removeClass("d-none");
}

function toggleWord(parameter) {
	alert(parameter);
	/*
	$(".memorycard-word.d-block .word-word").addClass("d-none");
	$(".memorycard-word.d-block .word-word").removeClass("d-block");
	$(".memorycard-word.d-block .word-meaning").addClass("d-block");
	$(".memorycard-word.d-block .word-meaning").removeClass("d-none");*/
}

function hideWord() {
	
}

function hideMeaning() {
	
}

function showWord() {
	
}

function showMeaning() {
	
}

</script>
</html>